<ion-view title="Register" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="register-form2" class="list ">
            <ion-list id="register-list2" class=" ">
                <label class="item item-input " id="register-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input6">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="register-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input3">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button id="register-button3" style="font-weight:600;" class=" button button-positive  button-block ">Register</button>
        </form>
    </ion-content>
</ion-view>