<ion-view title="Trips" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="trips-list4" class=" ">
            <ion-item class="item-icon-right  " id="trips-list-item4" href="#" onclick="window.open('http://localhost:8000/App/Trips#/editor/{tripName}', '_system', 'location=yes'); return false;">#Trip1
                <i class="icon ion-edit"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="trips-list-item5">#trip2
                <i class="icon ion-edit"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="trips-list-item6">#trip3
                <i class="icon ion-edit"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 70.9861px;"></div>
        <form id="trips-form5" class="list ">
            <label class="item item-input " id="trips-input10">
                <span class="input-label">Add New Trip</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="trips-button9" style="text-align:left;" class=" button button-balanced  ">Add</button>
    </ion-content>
</ion-view>